# Configuration file

"gameplay settings (synced)" {
    # The quality of enchantments recieved for the same level of XP 0=UnEnchantable 25=Gold armor [range: 0 ~ 25, default: 0]
    I:ArmourEnchantability=0

    # The rate of Zombie or Skeleton to spawn equipped with armor. [0=0%, 100=100%] [range: 0 ~ 100, default: 20]
    I:ArmourSpawnRate=20

    # Modifier for spread when the player is aiming. [range: 0.0 ~ 10.0, default: 0.2]
    S:"Default ADS Spread Modifier"=0.2

    # Modifier for spread when the player is aiming. (Multishot guns only). [range: 0.0 ~ 10.0, default: 0.8]
    S:"Default ADS Spread Modifier (Shotguns)"=0.8

    # Wether to disallow players to fire the gun when sprinting and not aiming by default (content packs override). [default: false]
    B:DisableSprintHipFireByDefault=false

    # Make a hitbox for the main driveable entity. [default: true]
    B:"Driveable hitboxes"=true

    # Range in blocks for vehicles and planes to be updated. [range: 0.0 ~ 1000.0, default: 400.0]
    S:"Driveable update range"=400.0

    # Enable bullet gui [default: true]
    B:"Enable bullet HUD"=true

    # Enable default crosshair [default: false]
    B:"Enable crosshairs"=false

    # Enable downward movement of the sight after shot. [default: true]
    B:"Enable downward movement of the sight after shot"=true

    #  [default: true]
    B:"Enable hitmarkers"=true

    # Changes recoil to be more realistic. [default: false]
    B:"Enable realistic recoil"=false

    # Should show red overlay when player has been wounded? [default: true]
    B:"Flashes when player wounded (Synced)"=true

    # Whether or not to add the extra gunpowder recipe (3 charcoal + 1 lightstone) [default: true]
    B:"Gunpowder Recipe"=true

    # Wether passenger guns should still work after the part of the vehicle they are on dies. [default: false]
    B:GunsInDeadPartsStillWork=false

    # Wether to kick clients connected to a dedicated server with non-identical packs. [default: false]
    B:KickNonMatchingHashes=false

    # Enable muzzle flash particles by default. Gun configs can override. [default: true]
    B:"Muzzle Flash Particles Default (Synced)"=true

    # Whether to reload a gun using right click, forces use of R. [default: true]
    B:"Reload on right click"=true

    # Whether seats should collide with the world. Prevents plane glitching through walls. [default: true]
    B:"Seat Collisions"=true

    # List distance between killer and killed in kill message. [default: true]
    B:ShowDistanceInKillMessage=true

    # Whether to use new penetration system (only content packs designed to work with this system will work as intended with this on). [default: false]
    B:UseNewPenetrationSystem=false

    # 0 = Non-breakable, 1 = All breakable, 2 = Refer to armor config [range: 0 ~ 2, default: 0]
    I:breakableArmor=0

    # Default durability if breakable = 1 [range: 1 ~ 10000, default: 500]
    I:defaultArmorDurability=500

    # Enable killMessage display [default: true]
    B:enableKillMessages=true

    # Set the soft carry limit for guns(2-9) [range: 2 ~ 9, default: 3]
    I:gunCarryLimit=3

    # Enable a soft limit to hotbar weapons, applies slowness++ when >= limit [default: false]
    B:gunCarryLimitEnable=false
}


general {
    # Whether to list all available paintjobs in the Creative menu [default: false]
    B:"Add All Paintjobs To Creative"=false

    # Whether all paintjobs should appear in creative [default: false]
    B:"Add All Paintjobs to Creative"=false

    # Enable arms rendering [default: true]
    B:"Enable Arms"=true

    #  [default: false]
    B:"Enable HD hit marker"=false

    # Enable bullet casing ejections [default: true]
    B:"Enable casings"=true

    # Whether to show fancy item descriptions. These can be shown by pressing shift on an item ingame. [default: true]
    B:"Enable fancy descriptions"=true

    # Enable gun-related enchantments [default: true]
    B:EnchantmentModuleEnabled=true

    # Change colour of crosshair based on hit. (Red = no penetration, green = full damage, light blue = headshot. Overrides normal colour settings. [default: true]
    B:"Fancy Crosshair"=true

    # Turn this on to force re-create all JSON files. Should only be used in dev environment [default: false]
    B:ForceUpdateJSONs=false

    # Whether or not to add the extra gunpowder recipe (3 charcoal + 1 lightstone) [default: true]
    B:"Gunpowder Recipe"=true

    # Hit cross hair color Alpha [range: 0.0 ~ 1.0, default: 1.0]
    S:HitCrossHairColorAlpha=1.0

    # Hit cross hair color Blue [range: 0.0 ~ 1.0, default: 1.0]
    S:HitCrossHairColorBlue=1.0

    # Hit cross hair color Green [range: 0.0 ~ 1.0, default: 1.0]
    S:HitCrossHairColorGreen=1.0

    # Hit cross hair color Red [range: 0.0 ~ 1.0, default: 1.0]
    S:HitCrossHairColorRed=1.0

    # If true, then shoot will be on right click [default: false]
    B:ShootOnRightClick=false
}


"teams/advanced settings" {
    # Divisor [range: 0 ~ 1000, default: 50]
    I:BltSS_Divisor=50

    # Min [range: 0 ~ 1000, default: 0]
    I:BltSS_Min=0

    # Min [range: 0 ~ 600, default: 10]
    I:NoticeSpawnKillTime=10

    #  [default: true]
    B:"Print Debug Log"=true

    #  [default: false]
    B:"Print Stack Trace"=false
}


